PUBLIC_SUPABASE_URL="https://bnzwjcgzltrvvpkwccyw.supabase.co"
PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJuendqY2d6bHRydnZwa3djY3l3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc4MjYxNDQsImV4cCI6MjA3MzQwMjE0NH0.P1xzNqO1NtlyxK8jhW0SET1k78ifo_Nq9J5iiCvpUZg"