<div class="topbar">
  <div class="topbar-inner">
    <a class="brand" href="{{ site.baseurl }}/" aria-label="Home">
      <!--<img src="{{ site.baseurl }}/assets/headshot.jpg" alt="Portrait of Santiago Quiroga"> -->
      <span>Santiago Quiroga Álvarez</span>
    </a>
    <nav>
      <a href="{{ '/projects/' | relative_url }}">Projects</a>
      <a href="{{ '/#about'   | relative_url }}">About</a>
      <a href="{{ '/contact/' | relative_url }}">Contact</a>  <!-- create this page -->
      <a href="{{ '/resume/'  | relative_url }}">Resume</a>
    </nav>
  </div>
</div>
