<div class="topbar">
  <div class="topbar-inner">
    <a class="brand" href="{{ site.baseurl }}/" aria-label="Home">
      <img src="{{ site.baseurl }}/assets/headshot.jpg" alt="Portrait of Santiago Quiroga">
      <span>Santiago Quiroga Álvarez</span>
    </a>
    <nav>
      <a href="{{ site.baseurl }}/projects.html">Projects</a>
      <a href="{{ site.baseurl }}/#about">About</a>
      <a href="{{ site.baseurl }}/contact.html">Contact</a>
      <a href="{{ site.baseurl }}/resume.html">Resume</a>
    </nav>
  </div>
</div>
