---
import Base from "../layouts/Base.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---
<Base title="Santiago Quiroga — Portfolio" description="Portfolio & projects, resume, contact.">
  <Fragment slot="nav"><Navbar/></Fragment>

  <h1 class="text-4xl md:text-5xl font-extrabold tracking-tight">Santiago Quiroga Álvarez</h1>

  <p class="text-zinc-500 mt-2">CU Boulder student • Portfolio & projects</p>

  <h2 class="text-xl font-semibold mt-4 mb-3">About</h2>
    <div class="space-y-4 text-justify">
    <p>Santiago Quiroga is an undergraduate student in the Data Science program at the University of Colorado at Boulder. He bridges theoretical problem-solving in multivariable calculus, physics, and statics with practical project experience and technical proficiency in C, assembly, and web technologies. As a Certified SolidWorks Associate, he brings hands-on engineering project experience; he worked to convert a Chevrolet S-10 pickup into an electric vehicle.</p>

    <p>He has applied his skills in diverse contexts. At Skyryse Incorporated, he served as a research engineering intern, exploring 3D airspace visualization for SkyOS, a universal fly-by-wire system. At Cabin, an eco-friendly prefabricated housing company in Mexico, he improved website performance by boosting SEO rankings and cutting loading times by 50% through a full site redesign and English translation. He also designed a prototype cabin with Internet of Things integration for remote management and authored a study on Valle de Bravo's urban planning challenges, combining analytics and expert interviews to identify critical errors and recommend strategies for sustainable growth.</p>
  
    <p>Santiago is a native speaker of English and Spanish, conversant in French, and has volunteered at El Árbol, a nonprofit bringing music and sports to children in rural Mexico. He also led a weeklong mountain biking expedition for fifteen participants. Outside of academics and work, he enjoys snowboarding, reading science fiction, and spending time with his family. Looking ahead, Santiago aims to channel his technical expertise, design skills, and collaborative experience into the aerospace or automotive industry, developing solutions that both advance knowledge and make a meaningful impact.</p>
  
  </div>
  <Fragment slot="footer"><Footer/></Fragment>
</Base>
