---
const { entry } = Astro.props;
const rendered = await entry.render();
---

<article class="prose mx-auto">
  <h1>{entry.data.title}</h1>
  <p class="text-[var(--muted)]">{entry.data.description}</p>
  <div class="prose" set:html={rendered.html} />
</article>
