---
import Base from "../../layouts/Base.astro";
import Editor from "../../components/Editor.jsx";
---
<Base title="Editor">
  <section class="mx-auto max-w-5xl p-6"><Editor client:load /></section>
</Base>

