---
import Base from "../../layouts/Base.astro";
import Login from "../../components/Login.jsx";
---
<Base title="Login">
  <section class="mx-auto max-w-md p-6"><Login client:load /></section>
</Base>

